.container{
  max-width: 1000px;
  margin: 0 auto;
}
header{
  display: flex;
  align-items: center;
  list-style: none;
}
ul{
  display:  flex;
  align-items: center;
}
li{
  margin-right: 20px;
}
li{
  margin-right: 0;
}
